<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- 上海银行签到 -->
  <ScheduleItem name="DoShbMarketCheckIn">
    <EspecialDay_Off></EspecialDay_Off>
    <EspecialDay_On></EspecialDay_On>
    <StartTime>09:00</StartTime>
    <EndTime>09:01</EndTime>
    <IsLoop>True</IsLoop>
    <IsWeekEndStop>True</IsWeekEndStop>
    <IntervalSeconds>10</IntervalSeconds>
  </ScheduleItem>

  <!-- 上海银行签出 -->
  <ScheduleItem name="DoShbMarketCheckOut">
    <EspecialDay_Off></EspecialDay_Off>
    <EspecialDay_On></EspecialDay_On>
    <StartTime>15:30</StartTime>
    <EndTime>15:31</EndTime>
  </ScheduleItem>

</config>